.product-grid {
  display: grid;
  grid-template-columns: 240px auto;
  height: 100vh;
  margin-bottom: 3rem;
}

.product-card {
  display: inline-block;
  position: relative;
  text-decoration: none;
  width: 300px;
  height: 424px;
  margin-bottom: 1rem;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgb(228, 228, 228);
  transition: all 0.5s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 3px 7px rgb(192, 192, 192);
}

.products-grid-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  height: calc(100vh - 8rem);
  overflow-y: scroll;
  margin: 7rem 1rem 1rem;
  padding-bottom: 1rem;
}

.burger-mb {
  display: none;
}

.listing-main-head {
  padding: 1rem 2rem;
  position: fixed;
  z-index: 100;
  width: calc(100vw - 230px);
  top: 3rem;
  background-color: #fff;
  justify-content: flex-end;
}

.listing-main-head > select {
  border: none;
  border-bottom: 1px solid rgb(68, 68, 68);
  padding: 3px 0;
  border-radius: 2px;
  font-size: 0.9rem;
  outline: none;
  background-color: #fff;
}

.no-data {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -40%);
  font-weight: 500;
}

@media screen and (max-width: 640px) {
  .product-grid {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 3rem;
  }
  .product-listing-mb {
    display: none;
  }
  .listing-main-head {
    width: 100vw;
    justify-content: space-between;
  }

  .burger-mb {
    display: block;
    font-size: 1.5rem;
  }

  .product-card {
    width: 250px;
    height: 374px;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .listing-main-head {
    position: relative;
    top: 5rem;
    padding: 0.6rem 2rem;
  }

  .products-grid-list {
    margin: 5rem 1rem 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 583px) {
  .product-card {
    width: 250px;
    height: 375px;
    margin-bottom: 1rem;
  }
}
