@import "../../App.css";

.wishlist-subtitle-product {
  padding-bottom: 0.5rem;
}

.cross-icon-wishlist {
  font-size: 0.9rem;
  color: var(--gray);
}

.wish-card-detail {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wishlist-card-single {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1.5rem;
}

.first-card {
  padding-top: 1.5rem;
}

.wish-rating {
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.wishlist-icon-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1rem 0;
}

.move-cart-div {
  text-align: center;
  margin: auto 0;
}

.move-cart-btn {
  color: var(--secondary);
  width: 55%;
  background-color: var(--white);
  margin-top: 1.2rem;
  font-weight: 600;
  border: 1px solid var(--gray-line);
  border-radius: 2px;
  padding: 0.4rem 0.9rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.move-cart-btn:hover {
  border: 1px solid var(--primary);
}

.move-cart-btn:active {
  border: 1px solid var(--gray-line);
}

.wishlist-list {
  padding-bottom: 1rem;
}

@media screen and (max-width: 1035px) {
  .no-data-msg {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 450px) {
  .no-data-msg {
    font-size: 1rem;
  }
}
