@import "../../App.css";

.cart-card-detail {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 1rem;
}

.cart-img {
  width: 100px;
  background-color: #661f1e0f;
}

.cart-qty-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.cart-item-name,
.cart-item-price,
.cart-item-total-price,
.cart-final-price {
  font-weight: 500;
}
.cart-item-catg {
  color: var(--tertiary);
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.2rem 0;
}

.cross-icon {
  font-size: 0.9rem;
  color: var(--gray);
  margin-bottom: 4rem;
}

/****************table****************/

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.table-title {
  text-align: left;
  color: var(--gray);
  border-bottom: 1px solid var(--gray);
}
.table-title > tr > th {
  font-weight: 400;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--light-gray);
}

.thead-product {
  width: 50%;
}

.thead-price {
  width: 20%;
}

.thead-empty {
  width: 3%;
}

.cart-final > td {
  border-top: 1px solid var(--light-gray);
}

.cart-final-price {
  padding: 2rem 0 0;
}

.check-btn-div {
  text-align: right;
  margin: 1rem 0;
}

.check-btn {
  padding: 0.6rem 0;
  display: inline-block;
  font-size: 0.9rem;
  letter-spacing: 0.03rem;
  max-width: 400px;
  font-weight: 500;
}
