@import "../../App.css";

.cart-card-detail {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

.first-card {
  padding-top: 1.5rem;
}

.cart-img {
  width: 100px;
  background-color: var(--card-bg);
}

.cart-qty-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.cart-item-name,
.cart-item-price,
.cart-item-total-price,
.cart-final-price {
  font-weight: 500;
}
.cart-item-catg {
  color: var(--tertiary);
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.2rem 0;
}

.cross-icon-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1rem 0;
}

.cross-icon {
  font-size: 0.9rem;
  color: var(--gray);
  margin-bottom: 1rem;
}

.move-cart-btn {
  color: var(--secondary);
  width: 100%;
  background-color: var(--white);
  font-weight: 600;
  border: 1px solid var(--gray-line);
  border-radius: 2px;
  padding: 0.4rem 0.9rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.move-cart-btn:hover {
  border: 1px solid var(--primary);
}

.move-cart-btn:active {
  border: 1px solid var(--gray-line);
}

/****************table****************/

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.table-title {
  text-align: left;
  color: var(--gray);
  border-bottom: 1px solid var(--gray-line);
}
.table-title > tr > th {
  font-weight: 400;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--gray-line);
}

.thead-product {
  width: 40%;
}

.thead-price {
  width: 10%;
}

.thead-empty {
  width: 30%;
  text-align: right;
}

.cart-final > td {
  border-top: 1px solid var(--gray-line);
}

.cart-final-price {
  padding: 3rem 0 0;
}

.check-btn-div {
  text-align: right;
  margin: 1rem 0;
}

.check-btn {
  padding: 0.6rem 0;
  display: inline-block;
  font-size: 0.9rem;
  letter-spacing: 0.03rem;
  max-width: 400px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.cart-table-mb {
  display: none;
  padding-top: 1rem;
}

.cartList-item-img {
  width: 120px;
  overflow: hidden;
  margin-right: 2rem;
  /* background-color: var(--card-bg); */
}

.mobile-card-single {
  list-style: none;
  padding: 1.5rem 0;
}

.cartList-btn-mb {
  color: var(--secondary);
  width: 100%;
  background-color: var(--white);
  margin-top: 1.2rem;
  font-weight: 600;
  border: 1px solid var(--gray-line);
  border-radius: 2px;
  padding: 0.4rem 0.9rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cartList-btn-mb:active {
  border: 1px solid var(--gray-line);
}

.cartList-btn-mb:hover {
  border: 1px solid var(--primary);
}

.cartList-cross-icon-mb {
  align-self: flex-start;
}

.cart-final-price-mb {
  padding-top: 2rem;
  border-top: 1px solid var(--gray-line);
  font-weight: 500;
  text-align: right;
}

/*******************media query************************/

@media screen and (max-width: 735px) {
  .cart-table {
    display: none;
  }
  .cart-table-mb {
    display: block;
  }

  .detail-cart-qty-mb {
    margin: 1rem 0 0 !important;
  }

  .page-title-mb {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 432px) {
  .cartList-item-img {
    width: 90px;
    transform: scale(1.1);
    overflow: hidden;
    margin-right: 0;
  }
}

@media screen and (max-width: 378px) {
}
