@import "../../App.css";

.cart-subtitle-product {
  min-width: 230px;
}

.cart-subtitle-quantity {
}
.cart-subtitle-total {
}

.cart-card-single {
  padding: 1rem 0;
}

.cart-img {
  width: 100px;
  background-color: #661f1e0f;
}
.cart-qty {
}
.cart-price {
}
