.shipping-block {
  width: 400px;
}

.address-card {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  width: 400px;
  padding-top: 2rem;
}

.address-card-label {
  cursor: pointer;
}

.address-card-head {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 0.6rem;
}

.address-card-subhead-details {
  color: var(--gray);
  font-size: 0.95rem;
  padding: 0.2rem 0;
}

.address-card-subhead {
  font-weight: 500;
  color: var(--primary);
}

.address-action-btn {
  padding: 0.3rem 0.6rem;
  margin-top: 1rem;
  color: var(--secondary);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid var(--gray-line);
  border-radius: 2px;
  font-weight: 500;
}

.address-action-btn:hover {
  border: 1px solid var(--primary);
}

.address-action-btn:active {
  border: 1px solid var(--gray-line);
}

/***************new-address-block*******************/

.new-address-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--secondary);
  /* width: 70%; */
  background-color: var(--white);
  margin: 2rem 0 3rem;
  font-weight: 600;
  border: 1px solid var(--gray-line);
  border-radius: 2px;
  padding: 0.4rem 0.9rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.new-address-btn:hover {
  border: 1px solid var(--primary);
}

.new-address-btn:active {
  border: 1px solid var(--gray-line);
}

.new-address-icon {
  font-size: 1.05rem;
  border: none;
  stroke-width: 1px;
  background-color: transparent;
  border-radius: 2px;
}

/* for account */

@media screen and (max-width: 948px) {
  .shipping-block {
    margin: auto;
    width: 90%;
  }

  .address-card {
    width: 90%;
  }
}
