@import "../../App.css";

.container {
  width: 100%;
  overflow-x: hidden;
}

.hero-img {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100vh;
}

.hero-img-content {
  position: absolute;
  top: 25.5%;
  left: 11%;
  width: 500px;
}

.hero-title {
  color: var(--white);
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 4rem;
}

.hero-title-detail {
  width: 22rem;
  margin-top: 4.5rem;
  font-size: 0.9rem;
  color: var(--tertiary);
}

.hero-btn {
  background-image: linear-gradient(to bottom, #661f1e, #852827);
  padding: 0.7rem 1.5rem;
  color: var(--white);
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  border: none;
  margin-top: 2rem;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.hero-btn:hover {
  background-image: linear-gradient(to bottom, #852827, #661f1e);
  cursor: pointer;
}

.hero-btn:active {
  background-image: linear-gradient(to bottom, #661f1e, #852827);
}

/************************/

.home-title {
  font-size: 2.3rem;
  margin: 4rem 2rem;
  font-weight: 500;
  text-align: center;
}

.catg-head {
  margin: 4rem 2rem 2rem;
}

.home-content {
  padding: 0 5rem 2rem;
}

/*********************************/

.about-goal,
.benefits,
.catg-single,
.hot-products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/************************goal***************************/

.goal-content {
  max-width: 500px;
}

.goal-head {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 3rem 0 1rem;
}

.goal-para {
  padding: 1rem 0;
  color: var(--gray);
}

.goal-img {
  width: 500px;
}

/*******************benefits************************/

.benefits {
  padding: 1rem 0 3rem;
}

.benefits-single {
  width: 250px;
  text-align: center;
  margin: 1rem;
}

.benefits-wara,
.benefits-quality {
  width: 55px;
  padding-bottom: 1rem;
}

.benefits-truck {
  width: 100px;
  padding-bottom: 1rem;
}

.benefits-head {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.benefits-detail {
  color: var(--gray);
}

/*****************************HOT PRODUCT****************************/

.home-best-sell-link {
  text-transform: uppercase;
  color: var(--secondary);
  font-weight: 500;
}

.hot-products {
  padding: 1rem 0;
}
/******************categories/catalog*******************/

.catg-single {
  padding: 3rem;
}
.catg-image {
  width: 400px;
  height: 350px;
  border-radius: 2px;
  background-color: #8529270f;
}

.catg-content {
  width: 400px;
  padding: 1rem;
  margin: 2rem;
}

.catg-content > h3 {
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 2rem;
}

.catg-content > p {
  padding-bottom: 2rem;
  color: var(--gray);
}

.see-catg-link {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--primary);
  font-weight: 500;
}
.catg-phone {
  display: none;
}

@media screen and (max-width: 1150px) {
  .hero-img-content {
    top: 20%;
    left: 7%;
    width: 500px;
  }
}

@media screen and (max-width: 1070px) {
  .hero-img-content {
    top: 23%;
    left: 7%;
    width: 500px;
  }
  .hero-title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    line-height: 2rem;
  }

  .hero-title-detail {
    width: 22rem;
    margin-top: 2.5rem;
    font-size: 0.9rem;
  }

  .hero-btn {
    padding: 0.7rem 1.5rem;
    font-size: 0.6rem;
    margin-top: 2rem;
  }

  .catg-phone {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .catg-single {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .hero-img-content {
    top: 15%;
    left: 7%;
    width: 100%;
  }
  .hero-title {
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  .hero-title-detail {
    margin-top: 1.5rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .hero-img-content {
    position: relative;
    margin: 0 2rem;
  }
  .hero-title {
    color: var(--secondary);
    max-width: 310px;
    margin-top: 1rem;
    font-size: 2rem;
  }

  .hero-title-detail {
    color: var(--gray);
    max-width: 300px;
    margin-top: 1rem;
    font-size: 1rem;
  }
  .hero-btn {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .catg-content {
    width: 100%;
    padding: 1rem 0;
  }
}
