@import "../../App.css";

.checkout-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.checkout-delivery-whole {
  padding: 1rem;
}

.order-summary-whole {
  border: 1px solid var(--gray-line);
  padding: 1rem;
  height: max-content;
  background-color: #661f1e10;
  border-radius: 2px;
  margin-bottom: 2rem;
}

.delivery-block {
  padding: 1rem 0 3rem;
}

.delivery-info {
  padding: 0.3rem 0;
  color: var(--gray);
  font-size: 0.9rem;
}

.delivery-label {
  font-weight: 500;
}

.delivery-card {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  padding-top: 1rem;
}

.checkout-cart-items {
  width: 390px;
  list-style: none;
  padding: 1.2rem 0;
  border-bottom: 1px solid var(--gray-line);
}

.checkout-item-img {
  width: 50px;
  background-color: var(--card-bg);
  background-color: var(--white);
}

.item-individual {
  padding: 0.7rem 0;
  gap: 1.6rem;
}

.pricing-block {
  padding: 1.2rem 0;
}

.checkout-pricing {
  padding: 0.5rem 0;
  color: var(--primary);
  font-size: 0.95rem;
}

.order-pricing {
  font-weight: 500;
  font-size: 1.1rem;
}

.coupon-block {
  border: 1px solid var(--gray);
  padding: 0 1rem;
  margin: 1rem 0;
}

.select-coupon {
  border: none;
  width: 245px;
  outline: none;
}

.order-btn {
  padding: 0.6rem 0;
  display: inline-block;
  font-size: 0.9rem;
  letter-spacing: 0.03rem;
  max-width: 400px;
  font-weight: 500;
  margin-bottom: 1rem;
}

@media screen and (max-width: 963px) {
  .checkout-delivery-whole {
    margin: auto;
    width: 100%;
  }

  .checkout-flex {
    gap: 0;
  }

  .shipping-block {
    width: 90%;
    margin: auto;
  }

  .delivery-only-whole {
    width: 90%;
    margin: auto;
  }

  .order-summary-whole {
    width: 90%;
    margin: 0 auto 2rem;
    border: 1px solid var(--gray-line);
    padding: 1rem;
  }

  .order-btn,
  .checkout-cart-items {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 379px) {
  .order-summary-whole {
    width: 100%;
  }
  .checkout-item-img {
    display: none;
  }
}
