@import "../../App.css";

.checkout-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.checkout-delivery-whole {
  padding: 1rem;
}

.order-summary-whole {
  border: 1px solid var(--gray-line);
  padding: 1rem 2rem;
  height: max-content;
  background-color: #661f1e10;
  border-radius: 2px;
  margin-bottom: 2rem;
}

.delivery-block {
  padding: 1rem 0 3rem;
}

.delivery-info {
  padding: 0.3rem 0;
  color: var(--gray);
  font-size: 0.9rem;
  cursor: pointer;
}

.delivery-label {
  font-weight: 500;
  cursor: pointer;
}

.delivery-card {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  padding-top: 1rem;
}

.checkout-cart-items {
  width: 390px;
  list-style: none;
  padding: 1.2rem 0;
  border-bottom: 1px solid var(--gray-line);
}

.checkout-item-img {
  width: 50px;
  background-color: var(--white);
  border-radius: 2px;
}

.item-individual {
  padding: 0.7rem 0;
  gap: 1.6rem;
}

.pricing-block {
  padding: 1.2rem 0;
}

.checkout-pricing {
  margin-bottom: 1rem;
}

.order-pricing {
  font-weight: 500;
  font-size: 1.2rem;
  flex-wrap: wrap;
  gap: 0.6rem;
  padding: 1.5rem 0;
  border-top: 1px solid var(--gray-line);
  border-bottom: 1px solid var(--gray-line);
}

.coupon-icon {
  margin-top: 0.4rem;
  margin-right: 0.2rem;
}

.coupon-btn {
  display: flex;
  align-items: center;
  width: max-content;
  font-size: 0.9rem;
  color: var(--secondary);
  font-weight: 600;
  border-bottom: 1px solid var(--secondary);
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.coupon-btn:hover {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}

.coupon-btn:active {
  color: var(--secondary);
  border-bottom: 1px solid var(--secondary);
}

.coupon-applied {
  margin-bottom: 1rem;
}

.coupon-code,
.coupon-remove {
  color: var(--secondary);
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.2rem 0;
}

.coupon-code {
  display: flex;
  align-items: center;
}

.coupon-remove {
  stroke-width: 1.5px;
  height: 1.5rem;
  cursor: pointer;
}

.checkout-order-saving {
  color: green;
  padding-top: 1rem;
  font-weight: 500;
}

.order-btn {
  padding: 0.6rem 0;
  display: inline-block;
  font-size: 0.9rem;
  letter-spacing: 0.03rem;
  max-width: 400px;
  font-weight: 500;
  margin-bottom: 1rem;
}

/***************Coupon********************/

.coupon-bg-blur {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1500;
}

.coupon-single-block {
  width: 500px;
  height: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem 2rem;
  background-color: #fff;
  box-shadow: 0 1px 5px rgb(208, 208, 208);
  border-radius: 2px;
}

.coupons-whole-title {
  font-weight: 500;
  font-size: 1.5rem;
}

.full-coupon-content {
  height: 330px;
  padding: 1rem 0;
  margin-top: 1rem;
  overflow-y: scroll;
}

.coupon-single {
  position: relative;
  margin: 1rem auto;
  padding: 0.6rem 1.5rem;
  border: 1px solid #4f4f4f86;
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
  background-image: linear-gradient(to bottom, black, var(--secondary));
}

.coupon-whole {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.coupon-head {
  padding: 0.2rem 0;
  font-size: 1.4rem;
  color: var(--white);
  font-weight: 500;
}

.coupon-info {
  padding: 0.3rem 0;
  color: #c9c9c9;
  font-size: 0.9rem;
}

.code {
  display: inline-block;
  font-weight: 700;
  color: var(--white);
  padding: 0.2rem 0.5rem;
  font-weight: 500;
  border: 1px dashed #f3e3e3;
  margin: 0.5rem 0;
  border-radius: 5px;
}

.design::before,
.design::after {
  content: "";
  position: absolute;
  top: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  z-index: 100;
}

.design::before {
  left: -6%;
  border-right: 1px solid gray;
}
.design::after {
  border-left: 1px solid gray;
  right: -6%;
}

.icon-box {
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  padding: 1.1rem 1.2rem 0.7rem 1rem;
  border-radius: 50%;
  background-color: #661f1e54;
}

.gift-icon {
  font-size: 1.4rem;
  color: #c9c9c9;
}

@media screen and (max-width: 963px) {
  .checkout-delivery-whole {
    margin: auto;
    width: 100%;
  }

  .checkout-flex {
    gap: 0;
  }

  .shipping-block {
    width: 90%;
    margin: auto;
  }

  .delivery-only-whole {
    width: 90%;
    margin: auto;
  }

  .order-summary-whole {
    width: 90%;
    margin: 0 auto 2rem;
    border: 1px solid var(--gray-line);
    padding: 1rem 2rem;
  }

  .order-btn,
  .checkout-cart-items {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .coupon-single-block {
    width: 350px;
    padding: 1rem;
  }

  .coupon-whole {
    width: 250px;
    overflow-x: hidden;
  }

  .coupon-head {
    font-size: 1.2rem;
  }

  .coupon-info {
    padding: 0.1rem 0;
    font-size: 0.8rem;
  }

  .code {
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
    margin: 0.4rem 0;
  }

  .icon-box {
    top: -0.7rem;
    right: -0.7rem;
    padding: 1rem 1rem 0.4rem 0.8rem;
  }

  .gift-icon {
    font-size: 1.1rem;
  }

  .order-summary-whole {
    padding: 1rem;
  }
}

@media screen and (max-width: 386px) {
  .coupon-single-block {
    width: 300px;
    padding: 1rem 0;
  }
  .coupon-whole {
    width: 250px;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 379px) {
  .coupon-main-title {
    justify-content: space-around;
  }

  .order-summary-whole {
    width: 100%;
    padding: 1rem;
  }
  .checkout-item-img {
    display: none;
  }
}
