:root {
  --primary: #1c1b1b;
  --secondary: #661f1e;
  --tertiary: #a5a5a5;

  --white: #fff;
  --gray: #4f4f4f;
  --light-gray: #eaeaea;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/**********************************************/

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-padding {
  padding: 6rem 2rem 2rem;
}

.page-subhead {
  font-size: 1.05rem;
  font-weight: 500;
}

/******************NavBar*********************/

.nav-flex {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  color: var(--light-gray);
  padding: 0.5rem 5rem;
  height: 3rem;
  z-index: 1000;
}

.nav-logo {
  color: var(--white);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.nav-search {
  width: 200px;
  margin-left: 0.5rem;
  background-color: var(--primary);
  color: var(--light-gray);
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid var(--light-gray);
}
.nav-search:focus {
  outline: none;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0rem 1rem;
  color: var(--light-gray);
}

.nav-acc {
  font-size: 1.3rem;
}

.nav-wishList-icon,
.nav-cartList-icon {
  position: relative;
}

.icon-dot {
  position: absolute;
  top: 0.09rem;
  left: 1.8rem;
  width: 6px;
  height: 6px;
  border-radius: 7px;
  background-color: var(--light-gray);
}

.icon-dot2 {
  position: absolute;
  top: 0.09rem;
  left: 1.7rem;
  width: 6px;
  height: 6px;
  border-radius: 7px;
  background-color: var(--light-gray);
}

@media screen and (max-width: 800px) {
  .nav-search {
    width: 130px;
  }
}

@media screen and (max-width: 610px) {
  .nav-flex {
    padding: 0.5rem 1rem;
  }
  .nav-search {
    width: 100px;
  }
}
/*******************Items Count*******************/

.head-count {
  color: var(--gray);
  font-size: 1.2rem;
}

/****************filters*****************/

.filters-box {
  padding: 0 1rem;
  margin-top: 3rem;
  border-right: 2px solid var(--light-gray);
}

/********scrollbar********/

::-webkit-scrollbar {
  width: 10px;
  padding-top: 10rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 10rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--secondary);
  border-radius: 0.5rem;
  height: 0.2rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -6px;
  border-radius: 0.5rem;
  background-color: var(--secondary);
  height: 0.8rem;
  width: 0.8rem;
}

/* input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid var(--secondary);
  outline: 3px solid var(--secondary);
  outline-offset: 0.125rem;
} */

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: var(--secondary);
  border-radius: 0.5rem;
  height: 0.2rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: var(--secondary);
  border-radius: 0.5rem;
  height: 0.8rem;
  width: 0.8rem;
}

/* input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid var(--secondary);
  outline: 3px solid var(--secondary);
  outline-offset: 0.125rem;
} */

.filter-input-price {
  padding: 0.2rem 0.3rem;
  font-size: 0.9rem;
  width: 4rem;
  text-align: center;
  margin: 0.5rem 0;
  border: 1px solid var(--secondary);
  border-radius: 2px;
  touch-action: none;
}

.filter-input-price > legend {
  font-weight: 500;
  color: var(--secondary);
}

/***************filters******************/

.filter-single {
  border-bottom: 1px solid var(--tertiary);
  padding: 1rem;
}

.filter-label {
  display: inline-block;
  font-size: 1.05rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

input {
  transition: all 0.3s ease-in-out;
}

.checkbox-whole {
  display: flex;
  align-items: center;
  margin: 0.4rem 0;
  font-size: 1rem;
}

.radio-whole {
  display: flex;
  align-items: center;
  margin: 0.4rem 0;
  font-size: 1rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid var(--primary);
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  margin-right: 0.6rem;
}

input[type="checkbox"]:checked::before {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 3px;
  height: 8px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

input[type="checkbox"]:checked {
  background-color: var(--secondary);
}

/****************radio*****************/

input[type="radio"] {
  accent-color: var(--secondary);
  margin-right: 0.6rem;
  transform: scale(1.2);
}

/***********reset link********/
.reset-link {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary);
  padding: 1.5rem 2rem;
}

/********************card********************/
.card-image {
  /* position: relative; */
  width: 300px;
  background-color: #661f1e0f;
}

.card-content {
  padding: 0.5rem 1rem 0;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 0.1rem;
}
.card-price {
  font-size: 0.9rem;
  color: var(--primary);
  margin-right: 0.6rem;
}

.card-heart {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.1rem;
  cursor: pointer;
}

.card-bag {
  font-size: 1.1rem;
  color: var(--white);
  background-color: var(--secondary);
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.product-card-btn-div {
  padding: 1rem;
}

.card-btn {
  width: 100%;
  margin-top: 0.5rem;
  font-weight: 600;
  background-image: linear-gradient(to bottom, #661f1e, #852827);
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 0.4rem 0.9rem;
  transition: all 0.3s ease-in-out;
}

.card-btn:hover {
  background-image: linear-gradient(to bottom, #852827, #661f1e);
}

.card-btn:active {
  background-image: linear-gradient(to bottom, #661f1e, #852827);
}

.go-cart-btn {
  color: var(--secondary);
  width: 100%;
  background-color: var(--white);
  margin-top: 1.2rem;
  font-weight: 600;
  border: 1px solid var(--gray-line);
  border-radius: 2px;
  padding: 0.4rem 0.9rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.go-cart-btn:hover {
  border: 1px solid var(--primary);
}

.go-cart-btn:active {
  border: 1px solid var(--gray-line);
}

/******************* Footer ************************/

.footer {
  background-color: var(--primary);
  width: 100vw;
  padding: 4rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem;
}

.footer-desc {
  width: 300px;
  color: var(--tertiary);
  font-size: 0.8rem;
}

.footer-li {
  color: var(--tertiary);
  font-size: 0.8rem;
  list-style: none;
}

.footer-li > li {
  padding: 0.3rem 0;
}

.footer-head {
  font-size: 0.9rem;
  color: var(--white);
  padding-bottom: 1rem;
}

.footer-desc-detail {
  padding-bottom: 3rem;
}

.footer-live-link {
  color: var(--tertiary);
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
}

.footer-live-link:hover {
  color: var(--light-gray);
}

/********************cart and wishlist********************/

.page-content {
  max-width: 1000px;
  margin: auto;
}

.page-title {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 2rem;
  line-height: 3rem;
}

.page-subtitle {
  display: flex;
  border-bottom: 1px solid var(--gray-line);
}

.page-subtitle > p {
  color: var(--gray);
  font-size: 1rem;
}
